<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Data</title>
</head>
<body>
    <h3>Course Details</h3>
    <table border="2">
        <tr>
            <th>Average Marks</th>
            <th>Maximum Marks</th>
        </tr>
        <tr>
            <td>{{ avg }}</td>
            <td>{{ max_marks }}</td>
        </tr>
    </table>
    <br>
    <img src="{{ url_for('static', filename='bar-chart.png') }}" height="250">
    <br>
    <a href="/">Go Back</a>
</body>
</html>
